{{- $src := .Destination -}}
{{- $alt := .Text -}}

{{- if strings.HasPrefix $src "[[" -}}

  {{- $filename := strings.TrimPrefix "[[" (strings.TrimSuffix "]]" $src) -}}
  {{- with .Page.Resources.GetMatch (printf "attachments/%s" $filename) -}}
    <img src="{{ .Permalink }}" alt="{{ $alt | default $filename }}">
  {{- else -}}
  
    <span style="color:red">Image not found: {{ $filename }}</span>
  {{- end -}}
{{- else -}}

  {{- $isAbs := or (strings.HasPrefix $src "http") (strings.HasPrefix $src "/") -}}
  {{- if $isAbs -}}
    <img src="{{ $src }}" alt="{{ $alt }}">
  {{- else -}}
  
    {{- if not (strings.Contains $src "/") -}}
      {{- $dir := replace (.Page.File.Dir) "\\" "/" -1 -}} {{/* e.g. container/Kubernetes/ */}}
      {{- $path := printf "/%sattachments/%s" $dir $src -}}
      <img src="{{ $path }}" alt="{{ $alt }}">
    {{- else -}}
      <img src="{{ $src }}" alt="{{ $alt }}">
    {{- end -}}
  {{- end -}}
{{- end -}}
