{{/* themes/KidiVerse/layouts/_default/baseof.html */}}
<!DOCTYPE html>
<html lang="zh-TW" class="scroll-smooth">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Site.Params.siteName }}{{ if not .IsHome }} | {{ .Title }}{{ end }}</title>
  
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  
  <!-- CSS -->
  {{ $style := resources.Get "css/style.css" }}
  {{ if $style }}
    {{ $style = $style | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous">
  {{ else }}
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  {{ end }}
  
  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="{{ "images/logo.svg" | relURL }}">
  
  <!-- Preload critical assets -->
  {{ $mainJS := resources.Get "js/main.js" }}
  {{ if $mainJS }}
    {{ $mainJS = $mainJS | resources.Minify | resources.Fingerprint }}
    <link rel="preload" href="{{ $mainJS.RelPermalink }}" as="script" integrity="{{ $mainJS.Data.Integrity }}" crossorigin="anonymous">
  {{ end }}
</head>
<body class="{{ if .IsHome }}is-homepage{{ end }}">
  <div class="page-container">
    {{ if ne .Kind "page" }}
    <div class="space-stars">
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
    </div>
    {{ end }}
    <div class="page-content">
      <aside class="sidebar">
        {{ partial "sidebar.html" . }}
      </aside>

      <main class="main-content">
          {{ block "main" . }}{{ end }}
      </main>
    </div>
  </div>

  <!-- JavaScript -->
  {{ $cosmicJS := resources.Get "js/cosmic-background.js" }}
  {{ $obsidianJS := resources.Get "js/obsidian-images.js" }}
  
  {{ if $mainJS }}
    <script src="{{ $mainJS.RelPermalink }}" {{ if $mainJS.Data.Integrity }}integrity="{{ $mainJS.Data.Integrity }}"{{ end }} crossorigin="anonymous" defer></script>
  {{ else }}
    <script src="{{ "js/main.js" | relURL }}" defer></script>
  {{ end }}
  
  {{ if $cosmicJS }}
    {{ $cosmicJS = $cosmicJS | resources.Minify | resources.Fingerprint }}
    <script src="{{ $cosmicJS.RelPermalink }}" integrity="{{ $cosmicJS.Data.Integrity }}" crossorigin="anonymous" defer></script>
  {{ else }}
    <script src="{{ "js/cosmic-background.js" | relURL }}" defer></script>
  {{ end }}
  
  {{ if $obsidianJS }}
    {{ $obsidianJS = $obsidianJS | resources.Minify | resources.Fingerprint }}
    <script src="{{ $obsidianJS.RelPermalink }}" integrity="{{ $obsidianJS.Data.Integrity }}" crossorigin="anonymous" defer></script>
  {{ else }}
    <script src="{{ "js/obsidian-images.js" | relURL }}" defer></script>
  {{ end }}
</body>
</html>
