<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="scroll-smooth">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Site.Title }}{{ if not .IsHome }} | {{ .Title }}{{ end }}</title>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  
  {{/* CSS: Get, minify, and fingerprint */}}
  {{ $style := resources.Get "css/style.css" }}
  {{ if $style }}
    {{ $style = $style | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
  {{ end }}
  
  <link rel="icon" type="image/svg+xml" href="{{ "images/logo.svg" | relURL }}">
  
  {{/* JS: Preload main.js */}}
  {{ $mainJS := resources.Get "js/main.js" }}
  {{ if $mainJS }}
    {{ $mainJS = $mainJS | resources.Minify | resources.Fingerprint }}
    <link rel="preload" href="{{ $mainJS.RelPermalink }}" as="script">
  {{ end }}
</head>
<body class="{{ if .IsHome }}is-homepage{{ end }}">
  <div class="page-container">
    <div class="page-content">
      <aside class="sidebar">
        {{ partial "sidebar.html" . }}
      </aside>

      <main class="main-content">
          {{ block "main" . }}{{ end }}
      </main>
    </div>
  </div>

  {{/* JavaScript: Load all scripts defer */}}
  {{ if $mainJS }}
    <script src="{{ $mainJS.RelPermalink }}" integrity="{{ $mainJS.Data.Integrity }}" defer></script>
  {{ end }}

  {{ $cosmicJS := resources.Get "js/cosmic-background.js" }}
  {{ if $cosmicJS }}
    {{ $cosmicJS = $cosmicJS | resources.Minify | resources.Fingerprint }}
    <script src="{{ $cosmicJS.RelPermalink }}" integrity="{{ $cosmicJS.Data.Integrity }}" defer></script>
  {{ end }}

  {{ $obsidianJS := resources.Get "js/obsidian-images.js" }}
  {{ if $obsidianJS }}
    {{ $obsidianJS = $obsidianJS | resources.Minify | resources.Fingerprint }}
    <script src="{{ $obsidianJS.RelPermalink }}" integrity="{{ $obsidianJS.Data.Integrity }}" defer></script>
  {{ end }}
</body>
</html>
